// Super quick cheats

.quarter {
    height: 260px;
    margin-bottom: 20px;
}

//---------------------------------------------------------------------------
// Overrides of Wiki CSS
//---------------------------------------------------------------------------

p {
  padding: 0 !important; // go clean this mess up
}
h1 {
  color: black;
  line-height: 1.2em;
}
h2 {
  color: black;
  border: none;  
}
h3 {
  color: black;
  border: none;
  line-height: 1.2em;
  font-size: 24px;
}
section {
  @include clearfix;
}

//---------------------------------------------------------------------------
// Layout
//---------------------------------------------------------------------------

.card {
    background: none repeat scroll 0 0 #F9F7F3;
    border-radius: 5px;
    box-shadow: 0 0 1px #A7A9AC;
    margin-bottom: 20px;
    padding: 18px;
    position: relative;
    z-index: 0;
    @include clearfix;
}

.half {
  float: left;
  width: 45%;
  margin-right: 5%;
  margin-top: 2em;
}
.first-half {
  clear: both;
}
.last-half {
  margin-right: 0;
}

.third {
  float: left;
  width: 30%;
  margin-right: 6%;
  margin-top: 2em;
}
.twothirds {
  float: left;
  width: 66%;
  margin-right: 6%;
  margin-top: 2em;
}
.first-third {
  clear: both;
}
.last-third {
  width: 26%;
  margin-right: 0;
}

.quarter {
  float: left;
  width: 25%;
}


//---------------------------------------------------------------------------
// Universal Styles
//---------------------------------------------------------------------------

div.bigger {
  font-size: 145%;
}
.clearfix {
  @include clearfix;
}
.clear {
  clear: both;
}
.indent {
  margin-left:1.5em;
}


//---------------------------------------------------------------------------
// Introduction
//---------------------------------------------------------------------------

.videowrapper {
  float: right;
  width: 50%;
  @include clearfix;
}
.videowrapper-inner {
  position: relative; 
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 30px; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
  height: auto; 
}
.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


//---------------------------------------------------------------------------
//  Document Map
//---------------------------------------------------------------------------

.deep-freeze,
.just-started,
.almost-finished,
.ready-to-use {
  padding: 1em;
  a, a:link, a:visited {
    color: white;
    font-size: 140%;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul ul {
    list-style: bullets;
    font-size: 80%;
    margin-left: 1em;
  }
}
.deep-freeze {
  background: #8664BE; // lighter than the logo
//  background: #6A4BA1; (logo color)
}
.just-started {
  background: #D45C3C;
}
.almost-finished {
  background: #ED9F3A;
}
.ready-to-use {
  background: #75C99B;
}


/*
.doc-list {
  background: #CCF2F7;
  ul {
    margin: 0;
    padding: 0;
    @include clearfix;
    line-height: 33px;
    a { 
      font-size: 20px; 
    }
  }
  li {
    margin: 0 1em 0 0;
    padding: 0;
    float: left;
    list-style: none;
    @include clearfix;
  }
  ul > li {
    clear: both;
  }
  ul ul {
    margin-left: 1em;
    float: right;
    a {
      font-size: 14px;
    }
    > li {
      clear: none;
      margin: 0.1em 2em 0 0;
    }
  }
  .docs {
    width: 50%;
    float: left;
  }
  .guides {
    width: 45%;
    float: right;
  } 
}
*/

//---------------------------------------------------------------------------
// How To Get Involved
//---------------------------------------------------------------------------



